<main class="main-secondary">
    <div class="container ">
        <div id="question-container" class="hide question--container"></div>
        <div id="question" class="">Question</div>
        <div id="answer-buttons" class="btn-grid">
            <button class="btn hide">Answer 1</button>
            <button class="btn hide">Answer 2</button>
            <button class="btn hide">Answer 3</button>
            <button class="btn hide">Answer 4</button>
        </div>
        <div class="controls">
            <button id="start-btn" class="start-btn btn">Start</button>
            <button id="next-btn" class="next-btn btn hide">Next</button>

        </div>
    </div>

</main>