.footer {
  font-size: 1.6rem;
  height: 15vh;
  background-color: $color-blue;
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: 768px) {
    font-size: 2rem;
  }
}
small a {
  text-decoration: none;
  color: $color-yellow;
}
.game .footer {
  display: none;
}
.highScores .footer {
  display: none;
}
.date {
  margin-left: 20px;
  color: $color-yellow;
}
